# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
ENV/
*.env

# Streamlit config files
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and database
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Compiled Python
*.so
*.dll
*.dylib

# Cache
*.egg-info/
.eggs/
*.egg

# Temp files
*.tmp
*.temp
